[submodule "lib/urllib3"]
	path = lib/urllib3
	url = https://github.com/shazow/urllib3.git
[submodule "lib/crochet"]
	path = lib/crochet
	url = git@github.com:itamarst/crochet.git
[submodule "lib/demjson"]
	path = lib/demjson
	url = https://github.com/dmeranda/demjson.git
